
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.navbarPrueba {
  font-family: "Averia Sans Libre", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  position: fixed !important;
  z-index: 1000;
  width: 100%;
  padding: 0;
  background-color: transparent !important;
  padding: 1.563rem 1rem;

  .navPrueba {
    width: 100%;
    padding: 0 .9375rem;
    margin: 0 2.7188rem;
    display: flex;
    justify-content: space-between;

    .navlink {
      color: #fff;
      text-transform: capitalize;
      font-weight: 500;
      font-size: 15px;
      letter-spacing: 0.7px;
      font-family: 'Tajawal', sans-serif;
    }
  }
}